<ion-content color="dark">

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Videos populares</h3>
            </ion-col>
        </ion-row>
    </ion-grid>



    <app-slideshow-backdrop [videos]="videosRecientes"></app-slideshow-backdrop>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Abdominales</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-poster-simple [videosFromCategory]="videosFromCategory"></app-slideshow-poster-simple>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Pecho</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-poster [videos]="videosRecientes" (cargarMas)="cargarMas()"></app-slideshow-poster>


</ion-content>